<div class="container">
  <h2 class="my-5 fs-4">Edit Artwork</h2>

  <form action="/artworks/<%= artwork.id %>?_method=PUT" method="POST">
    <%- include('form_fields') %>
    <a class="btn btn-light mt-2" href="/artworks">Cancel</a>
    <button class="btn btn-warning mt-2" type="submit">Update</button>
  </form>
</div>
