<h2 class="my-5 fs-4">New Artwork</h2>

<form action="/artworks" method="POST">
  <%- include("form_fields") %>
  <a class="btn btn-light mt-2" href="/artworks">Cancel</a>
  <button class="btn btn-warning mt-2" type="submit">Create</button>
</form>
