<footer>
  <div>
    <div class="d-flex justify-content-center">
        <a href="#"><i class="fa-brands fa-facebook-square fa-xl text-dark mx-2"></i></a>
        <a href="#"><i class="fa-brands fa-instagram-square fa-xl text-dark mx-2"></i></i></a>
        <a href="#"><i class="fa-brands fa-linkedin fa-xl text-dark mx-2"></i></a>
        <a href="#"><i class="fa-brands fa-github-square fa-xl text-dark mx-2"></i></a>
        <a href="#"><i class="fa-brands fa-twitter-square fa-xl text-dark mx-2"></i></a>
    </div>
    <p class="text-center mb-0">
      Developers: <a class="text-decoration-none" href="https://stevenabuan.github.io/myPortfolio/">Steven</a> |
      <a class="text-decoration-none" href="#">Vhernard</a> |
      <a class="text-decoration-none" href="#">Avel</a>
    </p>
    
    <p class="text-center pb-2">
      Copyright &copy; 2022 kumpas, All rights reserved
    </p>
  </div>
</footer>
