<header>
  <ul class="nav justify-content-center align-items-center">
    <li class="nav-item pe-5">
      <a class="text-decoration-none text-dark" href="/artists/new"
        >Add Artist</a
      >
    </li>
    <li class="nav-item">
      <a class="text-decoration-none text-dark" href="/artists">Artists</a>
    </li>

    <li class="nav-item px-5">
      <a class="text-decoration-none text-dark" href="/">
        <img width="300" height="300" src="images/kumpas-logo.png" alt="" />
      </a>
    </li>

    <li class="nav-item">
      <a class="text-decoration-none text-dark" href="/artworks">Artworks</a>
    </li>
    <li class="nav-item ps-5">
      <a class="text-decoration-none text-dark" href="/artworks/new"
        >Add Artwork</a
      >
    </li>
  </ul>
</header>
