<header>
  <nav>
    <a href="/">kumpas</a>
    <ul>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/artists/new">Add Artist</a></li>
      <li><a href="/artworks">Artwork</a></li>
      <li><a href="/artworks/new">Add Artwork</a></li>
    </ul>
  </nav>
</header>
