<h2>Recently Added</h2>

<div>
  <% artworks.forEach(artwork => { %>
  <a href="/artworks/<%= artwork.id %>">
    <img height="300" width="300" src="<%= artwork.coverImagePath %>" />
  </a>
  <% }) %>
</div>
