<h2 class="text-center pt-5 pb-3 fs-4">Recently Added</h2>

<div class="container">
  <div class="row">
    <% artworks.forEach(artwork => { %>
    <div class="col-md-6 col-lg-3">
      <a href="/artworks/<%= artwork.id %>">
        <img
          class="img-index mx-2 mb-4"
          height="300"
          width="300"
          src="<%= artwork.coverImagePath %>"
        />
      </a>
    </div>

    <% }) %>
  </div>
</div>
