/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Ubuntu:wght@300&display=swap");

ul,
h5,
.title {
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
}

/* ----burger animation---- */
.navbar-toggler .toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2824, 25, 26, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.middle-bar {
  margin-top: 0;
}
.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin: 0;
  transform: rotate(-135deg);
}
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

#btn-back-to-top {
  position: fixed;
  bottom: 10%;
  right: 10%;
  display: none;
  z-index: 10;
}

@media (max-width: 576px) {
  .img-index {
    width: 350px;
  }
}
