<h2>Edit Artist</h2>

<form action="/artists/<%= artist.id %>?_method=PUT" method="POST">
  <%- include('form_fields') %>
  <a href="/artists/<%= artist.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
